@use "./styles/variables" as *;

:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: $text-primary;
  background-color: $bg-color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 600;
  color: #fff;
}

a {
  font-weight: 500;
  color: $primary-color;
  text-decoration: none;
  &:hover {
    color: $primary-hover;
  }
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: $bg-color;
}

::-webkit-scrollbar-thumb {
  background: $surface-highlight;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: $primary-color;
}
